
  .g2-section {
    height: 99.9vh;
    width: 98vw;
    /* padding: 32px 10px 10px 10px; */
  }
  
  svg {
    position: absolute;
    scale: 0.5;
  }
  .g2s1 {
    position: absolute;
    cursor: grabbing;
    top: 110px;
    left: 75px;
    color: #fff;
    font-size: x-large;
    z-index: 1;
  }
  .g2s2 {
    position: absolute;
    cursor: grabbing;
    top: 251px;
    left: 85px;
    color: #fff;
    font-size: x-large;
    z-index: 1;
  }
  .g2s3 {
    position: absolute;
    cursor: grabbing;
    top: 56px;
    left: 164px;
    color: #fff;
    font-size: x-large;
    z-index: 1;
  }
  .g2s4 {
    position: absolute;
    cursor: grabbing;
    top: 48px;
    left: 190px;
    color: #fff;
    font-size: x-large;
    z-index: 1;
  }
  .g2s5 {
    position: absolute;
    cursor: grabbing;
    top: 118px;
    left: 121px;
    color: #fff;
    font-size: x-large;
    z-index: 1;
  }
  .g2s6 {
    position: absolute;
    cursor: grabbing;
    top: 30px;
    left: 112px;
    color: #fff;
    font-size: x-large;
    z-index: 1;
  }

  .g2s7 {
    position: absolute;
    cursor: grabbing;
    top: 147px;
    left: 263px;
    color: #fff;
    font-size: x-large;
    z-index: 1;
  }
  /* .relative{
    position: relative;
  } */
  
  .inline-block{
    display: inline-block;
    position: absolute;
    margin-top: 42px;
  }