.main-section {
  text-align: center;
  padding: 9px;
  background-color: #bd51ff;
  font-size: 20px;
  color: #fff;
  position: relative;
  overflow: auto;
  padding: 0px;
}
.sub-section {
  height: 99.9vh;
  width: 100%;
  padding-top: 10px;
  /* height: 500px;
  width: 500px; */
  height: 1000px;
    width: 1000px;
    padding: 10px;

}

.img {
  position: absolute !important;
}
.s1 {
  position: absolute;
  cursor: grabbing;
  top: 125px;
  left: 50px;
  color: #fff;
  font-size: x-large;
  z-index: 1;
}
.s2 {
  position: absolute;
  cursor: grabbing;
  top: 70px;
  left: 77px;
  color: #fff;
  font-size: x-large;
  z-index: 1;
}
.s3 {
  position: absolute;
  cursor: grabbing;
  top: 20px;
  left: 90px;
  color: #fff;
  font-size: x-large;
  z-index: 1;
}
.s4 {
  position: absolute;
  cursor: grabbing;
  top: 140px;
  left: 95px;
  color: #fff;
  font-size: x-large;
  z-index: 1;
}
.s5 {
  position: absolute;
  cursor: grabbing;
  top: 30px;
  left: 40px;
  color: #fff;
  font-size: x-large;
  z-index: 1;
}
.relative{
  position: relative;
}